<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    
    <title>{{titlepage}}</title>
</head>
<body>
    <!--the part of code will change only -->
    {% if custom_css %}
    <div>
        <link rel="stylesheet" href="{{url_for('static',filename='css/'+custom_css+'.css')}}"><!--use css file for spicific file  -->
    </div>
    {% endif %}
    <script src="{{url_for('static',filename='js/jquery.js')}}"></script>
    <script src="{{url_for('static',filename='js/main.js')}}"></script>
    
    {% block content %}    
    {% endblock %}
    
</body>
</html>