{% extends "layout.html" %} {% block body %}
<div class="bg-body-tertiary p-5 rounded text-center"  style="background-image: url('static/images/img8.png'); background-size: cover; background-position: center; background-repeat: no-repeat;">
  <br>
   
  <h1 style="color:beige;"> ألعب وتعلم معنا  </h1>
  <p class="lead"   font-family: "Noto Kufi Arabic", "Open Sans", "Helvetica Neue",
  "Helvetica", "Arial", "sans-serif" !important;><h4 style="color:beige;">
    نوفر لطفلك محتوى عربي شامل ومتنوع لنساعدك في لتعلم بكل احترافية وسهولة
  </h4>
  </p>
   
</div>

{% endblock %}
